<div id = "index_page">
<p><%= t 'about.welcome' %> </p>
<a href = "http://github.com/snowmaninthesun/united-dictionary/tree/master"><%= "#{t 'footer.contribute'}" %></a>
<p>

<%= t 'about.why' %>

<%= t 'about.how' %>


<%= t 'about.who' %>

<br />
<center><img src="/images/richard.jpg" height = "300" width = "400" /></center>

<br />
</div><!-- index -->