<%= stylesheet_link_tag 'redbox' %>
<div class="table-row">
	<% @not_cacheable = true %>
	<div class="left-container">
		<div class = "center"><h1><%= t 'search_results' %></h1></div>
			<br />
			<%= render :partial => 'main/recent_partial' %>
	</div><!-- main_left -->

	<div class="right-container">
		<br />
			<%= render :partial => 'main/vertical_ad' %><br /><br />
			<%= render :partial => 'main/vertical_ad' %>
	</div><!-- right_nav -->
	
	
	<div class="space-line"></div>
</div>